/*! purgecss start ignore */
@tailwind base;
body {
    @apply font-open-sans text-xs text-gray-700;
}

h1,
h2,
h3,
p {
  @apply font-poppins;
}

h1 {
  @apply text-2xl font-semibold;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}
h4 {
    @apply text-sm font-semibold leading-snug;
}
h5 {
  @apply font-semibold;
}
.caption {
    @apply text-xs font-bold;
}

@screen md {
  .textBox {
    height: 241px;      
    width: 281px;
  }
  .imageBox {
    height: 240px;      
    width: 280px;
  }
}

@screen xl {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 64px
  }
  h3, h4 {
    font-size: 32px
  }
  h5 {
    font-size: 20px
  }
  .big {
    width: 1522px;
  }
  .caption {
    font-size: 14px;
  }
}

body.no-scroll {
  @apply overflow-hidden
}

footer a:hover {
  color: white
}

@tailwind components;

/*! purgecss end ignore */
@tailwind utilities;
